@model Neighbourhood.Models.Account

<div>
    <h4>Account</h4>
	<hr />
    <dl class="dl-horizontal">

        <dd>
            <p>Welcome </p>
            @Html.DisplayFor(model => model.Username)
        </dd>



    </dl>
</div>
